/*  JavaScript 7th Edition
    
   Filename: styles.css
   
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Playfair:ital@1&display=swap');

/* apply a natural box layout model to all elements */
* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* reset rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
   line-height: 1;
   width: auto;

   min-width: 726px;
   min-height: 600px;
}

/* page header */
header {
   background: #85cde8;
   width: 100%;
   color: #FFEFC1;
   font-size: 48px;
   text-align: center;
   line-height: 1.5em;
   margin-bottom: 0;
}

.titleImage {
   display: block;
   margin: 30% auto; /* Center the image vertically and horizontally */
   width: 50%;
   min-width: 422px;
}

/* Welcome screen */
.WelcomeScreen {
   background-image: url("screen_with_text.png");
   background-size: cover;
   background-position: center center;
   background-clip: content-box;
   height: 100vh; /* Set a minimum height to cover the entire viewport */
   display: flex;
   justify-content: center;
   align-items: center;
}

#Title{


   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;


}

#Title p{

   font-size: 10vw;
   color: white;
   align-items: center;
   text-align: center;
   background-color: rgb(1,23,23);
   padding-left: 20px;
   padding-right: 20px;


}

.AboutMe {
   display: flex;
   justify-content: flex-end; /* Align to the right */
   align-items: center;
   height: 100vh;
   background-image: url("Chicago.jpg");
   background-size: 100% 100%;

}

#Bio{

   line-height: 1.6;
   padding-left: 10px;
   padding-right: 10px;
   color: white;
   font-size: 2vw;
   background-color: rgba(1,23,23, 0.75);


}

/* Tennis picture */
.TennisPicture {
  
   height: 50vh;
   width: 50vh;
   padding-right: 20px;
   
}

/* Resume section */
.Resume {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   background-color: rgb(1,23,23);
   padding-left: 20px;


}

/* Resume image */
.ResumeIMG {
   
   height: 100vh;
   
}

#Portfolio{

   background-color: rgb(1,23,23);
   height: 100vh;

}

#DownloadOptions{

   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;

   padding-left: 20px;
   padding-right: 20px;

}

#DownloadOptions p {

   color: white;
   font-size: 1.5vw;
   padding-left: 20px;
}

#DownloadOptions img {

   width: 5vw; 
   height: auto;
}

#PDFOption{

   display: flex;
   justify-content: space-between;
   align-items: center;

}


#WordOption{

   display: flex;
   justify-content: space-between;
   align-items: center;

}

#PortfolioTable{

   padding-top: 20px;
   padding-left: 20px;
   width: 100%;
   height: 100%;

}

.TableHeading{

   text-align: left;
   color: white;
   font-size: 10vh;

}

.ProjectHeading{

   color: white;
   font-size: 6vh;

}

.ProjectDescription{

   color: white;
   font-size: 3.5vh;

}


#TableImage{



}